/* Brittany Morris' Portfolio Site */
* {
  box-sizing: border-box;
}

/* About Me */
.container-fluid {
    width: 960px;
    padding-top: 130px;

  }
  
  .bio-image {
    float: left;
    padding-right: 20px;
  }
