/* Brittany Morris' Portfolio Site */
* {
  box-sizing: border-box;
}

/* Form */
.form-group {
  color: #777777;
  height: 85px;
}

.checkbox {
  color: #777777;
}

.btn-default {
  background-color: #a88e3a;
  color: white;
}

.container-fluid {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 150px;
  position: fixed;
}

/* Footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
  margin: 0;
  padding-top: 30px;
  height: 10px font-size: small;
  background: #E8E8E8;
}