/* Brittany Morris' Portfolio Site */
* {
  box-sizing: border-box;
}

/* Form */
.form-group {
  color: #777777;
  height: 85px;
}

.checkbox {
  color: #777777;
}

.btn-default {
  background-color: #a88e3a;
  color: white;
}
.container-fluid {
  width: 960px;
  padding: 0px 0px;
 padding-top; 300px;
}

