/* Brittany Morris' Portfolio Site */
* {
  box-sizing: border-box;
}

/* Form */
.form-group {
  color: #777777;
  height: 85px;
}

.checkbox {
  color: #777777;
}

.btn-default {
  background-color: #a88e3a;
  color: white;
}
.container-fluid {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 150px;
}
