/* Brittany Morris' Portfolio Site */
* {
  box-sizing: border-box;
}
 
.container {
  width: 960px;
  padding: 0px 0px;
  margin: 0 auto;
}

.container-fluid-3 {
  width: 960px; 
  padding: 28px 0px 200px;
  margin: 0 auto;
  height: 130px;
  padding-top: 130px;
}

container-fluid-4 {
  width: 960px; 
  padding: 28px 0px 200px;
  margin: 0 auto;
  height: 130px;
  padding-top: 130px;
}

