/* Brittany Morris' Portfolio Site */
* {
  box-sizing: border-box;
}
 
.container {
  width: 960px;
  padding: 0px 0px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  padding-left: 183px;
  flex-wrap: wrap;
  padding-top: 100px;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 200px;
  margin: 25px;
  text-align: center;
  line-height: 200px;
  font-size: 30px;
}